# Backend service URL for API calls
# # Backend configuration
# VITE_BACKEND_BASE_URL=http://backend:6789

# DJI Cloud API App License (get from https://developer.dji.com/user/apps/)
# Used by backend and frontend
DJI_CLOUD_API_APP_ID=
DJI_CLOUD_API_APP_KEY=
DJI_CLOUD_API_APP_LICENSE=

DJI_MQTT_HOST_IP=
DJI_MQTT_PORT=